<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Interaction</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Submit Data to API</h1>
    <form action="/api/data" method="POST">
        <label for="firstName">First Name:</label>
        <input name="firstName" id="firstName" type="text" autocomplete="given-name" required/>
        <label for="lastName">Last Name:</label>
         <input name="lastName" id="lastName" type="text" autocomplete="family-name" required/>
         <label for="email">Email:</label>
         <input name="email" id="email" type="email" autocomplete="off" required />
        <button type="submit">Submit</button>
    </form>
</body>
<script>
    const form = document.querySelector('form');
    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        const formData = new FormData(form);
        const response = await fetch('/api/data', {
            method: 'POST',
            body: formData
        });
        if (response.ok) {
            alert('Data submitted successfully');
        } else {
            alert('Error submitting data');
        }
    });
</script>

</html>
