<form action="/sneakers" method="POST" enctype="multipart/form-data">
    <label for="sneakerName">Sneaker Name:</label>
    <input type="text" id="sneakerName" name="sneakerName">
    
    <label for="sneakerImage">Sneaker Image:</label>
    <input type="file" id="sneakerImage" name="sneakerImage">

    <button type="submit">Upload Sneaker</button>
</form>
